//
  -
      #{APPNAME}
      Verison: #{VERSION}


html
  head
    meta(charset="utf-8")
    title #{APPNAME}

    //- Would turn it on if it was set to false.
    if INJECT === false
      each css in htmlWebpackPlugin.files.css
        link(href="#{css}", rel="stylesheet")

  body
    div(style="position: relative")
      h2 GIF Recording
      canvas(id="app-canvas" width="853" height="480" style="background-color: #000")

    div
      h4 Click "Start Record" to start record and then click "Stop Record" to generate gif.

      div
        button#start-record-btn Start Record
        button#stop-record-btn Stop Record

      div#recording-hint(style="display: none") Recording...
      div#encoding-hint(style="display: none")
        progress
        span Encoding, please wait ...

    video#app-video(src="/demo.mp4" controls="controls" style="display: none" autoplay="autoplay" loop="loop")

    //- Would turn it on if it was set to false.
    if INJECT === false
      div.script-requirement
        each chunk in htmlWebpackPlugin.files.chunks
          script(src="#{chunk.entry}")
